<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Hostname" value="172.20.10.5"/>
        <add key="SocketPort" value="60000"/>
        <add key="RabbitPort" value="5672"/>
        <add key="UseRabbit" value="false"/>
        <add key="SqliteConnectionString" value="URI=file:/Users/kirpro/DataGripProjects/Database/music_service.sqlite"/>
        <add key="RabbitUsername" value="guest"/>
        <add key="RabbitPassword" value="guest"/>
        <add key="RabbitQueueName" value="normalization"/>
    </appSettings>
</configuration>