<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HostName" value="172.20.10.5" />
        <add key="Port" value="53567" />
        <add key="PostgresConnectionString" value="Host=localhost;Port=5432;User ID=postgres;Password=1234;" />
        <add key="PostgresDatabase" value="music_service" />
        <add key="SqlScriptPath" value="/Users/kirpro/Documents/GitHub/Distributed-Applications/Lab3/DatabaseNormalization/Normalization.Server/Database/CreateSchema.sql" />
    </appSettings>
</configuration>