<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SqliteConnectionString" value="URI=file:/Users/kirpro/DataGripProjects/Database/music_service.sqlite" />
        <add key="PostgresHost" value="localhost" />
        <add key="PostgresPort" value="5432" />
        <add key="PostgresUsername" value="postgres" />
        <add key="PostgresPassword" value="1234" />
        <add key="PostgresDatabase" value="music_service" />
        <add key="SQLScriptPath" value="/Users/kirpro/Documents/GitHub/Distributed-Applications/Lab0/DatabaseMigration/DatabaseMigration/CreateSchema.sql" />
        <add key="PythonPath" value="/Users/kirpro/.conda/envs/ExcelCreation/bin/python" />
        <add key="PythonScriptPath" value="/Users/kirpro/Documents/GitHub/Distributed-Applications/Lab0/ReportGeneration/main.py" />
        <add key="JSONPath" value="/Users/kirpro/Documents/GitHub/Distributed-Applications/Lab0/data.json" />
        <add key="ExcelPath" value="/Users/kirpro/Documents/GitHub/Distributed-Applications/Lab0/data.xlsx" />
    </appSettings>
</configuration>