<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HostName" value="172.20.10.5" />
        <add key="Port" value="53567" />
        <add key="SqliteConnectionString" value="URI=file:/Users/kirpro/DataGripProjects/Database/music_service.sqlite" />
    </appSettings>
</configuration>