<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Hostname" value="172.20.10.5"/>
        <add key="SocketPort" value="60000"/>
        <add key="RabbitPort" value="5672"/>
        <add key="UseRabbit" value="false"/>
        <add key="PostgresConnectionString" value="Host=localhost;Port=5432;User ID=postgres;Password=1234;"/>
        <add key="PostgresDatabase" value="music_service"/>
        <add key="SqlScriptPath" value="/Users/kirpro/Documents/GitHub/Distributed-Applications/Lab2/DatabaseMigration/Normalization.Server/Database/CreateSchema.sql"/>
        <add key="RabbitUsername" value="guest"/>
        <add key="RabbitPassword" value="guest"/>
        <add key="RabbitQueueName" value="normalization"/>
    </appSettings>
</configuration>